@using Microsoft.AspNetCore.Components.Authorization
@using GemNote.Web.States
@inject UserState UserState

<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(App).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)">
				<Authorizing>
					<FluentLabel Typo="Typography.H4">Authorizing</FluentLabel>
					<FluentProgressRing Style="width: 62px; height: 62px;"></FluentProgressRing>
				</Authorizing>
			</AuthorizeRouteView>
			<FocusOnNavigate RouteData="@routeData" Selector="h1"/>
		</Found>
		<NotFound>
			<PageTitle>Not found</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<p role="alert">Sorry, there's nothing at this address.</p>
				<p>
					<FluentAnchor Href="/">Back to home</FluentAnchor>
				</p>
			</LayoutView>
		</NotFound>
	</Router>
	<FluentDesignTheme Mode="DesignThemeModes.System"
	                   OfficeColor="OfficeColor.Excel"
	                   StorageName="theme"/>
</CascadingAuthenticationState>

@code
{
	protected override async Task OnInitializedAsync()
	{
		await UserState.LoadStateAsync();
	}
}