.container {
    width: 100%;
    margin: 10px auto;
}

.acc-header {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.acc-header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.acc-header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-bar {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}