@page "/resources"
@using GemNote.Web.Components
@using GemNote.Web.ViewModels.ResourceModels

<PageTitle>Resources</PageTitle>

<div class="container">
	<div class="page-title">
		<FluentLabel Typo="Typography.PageTitle">Resources</FluentLabel>
	</div>
	<div class="content">
		@foreach (var notebook in Notebooks)
		{
			<NotebookComponent Notebook="notebook" />
		}
	</div>
</div>

@code {
	private IEnumerable<NotebookVm> Notebooks { get; set; }

	protected override void OnInitialized()
	{
		Notebooks = new List<NotebookVm>
		{
			new()
			{
				Name = "Notebook 1",
				Description = "This is the first notebook",
				SectionQty = 3
			},
			new()
			{
				Name = "Notebook 2",
				Description = null,
				SectionQty = 5
			},
			new()
			{
				Name = "Notebook 3",
				Description = "This is the third notebook",
				SectionQty = 2
			}
		};
	}
}