.container {
    width: 80%;
    margin: auto;
}

.page-title {
    margin-top: 1rem;
    width: fit-content;
}

.top-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}