@using System.Runtime.InteropServices
@inherits LayoutComponentBase

<FluentLayout>
	<FluentHeader>
		<FluentAnchor Href="/" Appearance="Appearance.Filled">
			<FluentLabel Typo="Typography.H3" Color="Color.Fill">
				GemNote
			</FluentLabel>
		</FluentAnchor>

		<FluentSpacer/>

		<FluentStack HorizontalAlignment="HorizontalAlignment.Right">
			<FluentAnchor Href="register" Appearance="Appearance.Filled">
				<FluentButton Appearance="Appearance.Stealth">
					Sign up
				</FluentButton>
			</FluentAnchor>
		</FluentStack>
	</FluentHeader>

	<FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
		<NavMenu/>
		<FluentBodyContent Class="body-content">
			<ErrorBoundary>
				<ChildContent>
					<div class="content">
						@Body
					</div>
				</ChildContent>
				<ErrorContent Context="ex">
					<div class="blazor-error-boundary">@ex.Message</div>
				</ErrorContent>
			</ErrorBoundary>

			<FluentToastProvider MaxToastCount="10"/>
			<FluentDialogProvider/>
			<FluentTooltipProvider/>
			<FluentKeyCodeProvider/>
		</FluentBodyContent>
	</FluentStack>
	<FluentFooter Style="@("height: 40px; color: white;  font-size: var(--type-ramp-minus-1-font-size); line-height: var(--type-ramp-base-line-height);")">
		<div class="version">
			HNV - GemNote
			&nbsp;-&nbsp;
			<a href="https://dotnet.microsoft.com/en-us/learn/aspnet/what-is-aspnet-core">Powered by @RuntimeInformation.FrameworkDescription</a>
		</div>
		<FluentSpacer/>
		<div class="copy">
			May 2024
		</div>
	</FluentFooter>
</FluentLayout>